.centre.frame-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin-top: 20px;
    background-color: rgb(179, 255, 0);
}

.bedrijf-div {
    display: flex;
    flex-direction: column;
    background-color: darkgrey;
    width: 300px;
    height: 100px;
    
}

body {
    display: grid;
    place-items: center; /* Center items horizontally and vertically */
    height: 50vh; /* Full height of the viewport */
    margin: 0; /* Remove default body margin */
    background-color: rgb(255, 228, 228);
}

.bedrijf-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: darkgrey;
    width: 700px;
    height: 100px;
    /* No need for margin-top */
}

.bedrijf-naam {
    background-color: red;
    display: flex;
    justify-content: center;
    position: relative;
   
    margin: auto; 
    min-width: 90%; 
    height: 50%; 

}

.login-parent {
        display: flex;
        flex-direction: column;
        background-color: darkgrey;
        width: 350px;
        height: 125px;
        margin-top: 20px;
    }

    .field-parent {
        background-color: rgb(51, 51, 51);
        display: flex;
        justify-content: center;
        position: relative;
       
        
        min-width: 90%; 
        height: 50%;
        margin: auto;
        
    }

    .username {
    background-color: red;
    display: flex;
    justify-content: center;
    position: relative;
    left: 0;
   
    
    width: 50%;
    height: 100%;
    
    
}

.password {
    background-color: blue;
    display: flex;
    justify-content: center;
    position: relative;
    right: 0;
   
    
    width: 50%;
    height: 100%;
    
    
}

